apiVersion: apps/v1
kind: Deployment
metadata: 
  name: web-backend # Deployment.name
  namespace: top-1
  labels:
    app: nginx-lable-a #ns.lable.name
spec:
  selector:
    matchLabels:
      app: nginx-lable-a #Y: MatchLables
  replicas: 3
  template:
    metadata: 
      labels: 
        app: nginx-lable-a #Y: Lables
        # annotations:
    spec:
      containers:
        - name: nginx-container-web-backend
          image: nginx:latest
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 200m
              memory: 200Mi
          ports:
            - containerPort: 80
              name: http
              protocol: TCP
            - containerPort: 443
              name: https
              protocol: TCP

              # restartPolicy: Always DX: not needed as deployment allway restartz PODS
